---
import { getCollection } from 'astro:content';
import Layout from '../layouts/BlogPost.astro';
import PostListItem from '../components/PostListItem.astro';

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const latestPosts = posts.slice(0, 10);
---

<Layout>
	<section>
		<ul class="space-y-8">
			{latestPosts.map((post) => (
				<li>
					<PostListItem post={post} />
				</li>
			))}
		</ul>
	</section>
	<div class="text-center my-8">
		<a href="/posts/1" class="text-lg font-bold">すべての記事を見る &raquo;</a>
	</div>
</Layout>
