---
const navigationLinks = [
  { text: 'Home', href: '/index.html' },
  { text: 'Wellcome', href: '/wellcome.html' },
  { text: 'Tutorial', href: '/tutorial.html' },
  { text: 'Blog', href: '/cgi/blog_single-post.cgi' },
  { text: 'About us', href: '/index.html#about' },
  { text: 'Contact', href: '/index.html#contact' },
];

// Categories will be dynamically populated in a later task.
const categoryLinks = []; 
---
<footer id="footer" class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-4">
          <h3 class="footer-heading logo">toriR Lab.</h3>
          <p>トリルラボはITで市民科学をサポートします。鳥類の音声分析、スマホを用いた市民調査の主催ツール、EMCのコンサルが主なサービスです。　</p>
          <p><a href="/index.html#about" class="footer-link-more">Learn More</a></p>
        </div>
        <div class="col-6 col-lg-2">
          <h3 class="footer-heading">Navigation</h3>
          <ul class="footer-links list-unstyled link-categories">
            {navigationLinks.map(link => (
              <li><a href={link.href}><i class="bi bi-chevron-right"></i> {link.text}</a></li>
            ))}
          </ul>
        </div>
        <div class="col-6 col-lg-2">
          <h3 class="footer-heading">Categories</h3>
          <ul class="footer-links list-unstyled link-categories">
            {categoryLinks.length > 0 ? (
              categoryLinks.map(link => (
                <li><a href={link.href}><i class="bi bi-chevron-right"></i> {link.text}</a></li>
              ))
            ) : (
              <li>(Coming soon)</li>
            )}
          </ul>
        </div>
        <div class="col-lg-4">
          <h3 class="footer-heading">Recent Posts</h3>
            (Coming soon...)
        </div>
      </div>
    </div>
  </div>

  <div class="footer-legal">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          <div class="copyright">
            © Copyright <strong><span class="logo">toriR Lab.</span></strong>. All Rights Reserved
          </div>
        </div>
        <div class="col-md-6">
          <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
            <a href="https://twitter.com/@TorirLab" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://www.youtube.com/@torirlab" class="mr-2"><span class="bi bi-youtube"></span></a>
            <a href="https://www.facebook.com/profile.php?id=100007482843025" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://github.com/woodie2wopper" class="mr-2"><i class="bi bi-github"></i></a>
            <a href="https://www.researchgate.net/profile/Hideki-Osaka" class="mr-2"><i class="fab fa-researchgate"></i></a>
            <a href="https://www.linkedin.com/in/%E8%8B%B1%E6%A8%B9-%E5%A4%A7%E5%9D%82-557407172/" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> 