---
import CategoryList from './CategoryList.astro';
import PopularArticles from './PopularArticles.astro';
import TrendingArticles from './TrendingArticles.astro';
import LatestArticles from './LatestArticles.astro';
---
<Fragment>
  <CategoryList />

  <div class="aside-block">
    <h3 class="aside-title">Articles</h3>
    <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="false">Popular</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-trending-tab" data-bs-toggle="pill" data-bs-target="#pills-trending" type="button" role="tab" aria-controls="pills-trending" aria-selected="false">Trending</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-latest-tab" data-bs-toggle="pill" data-bs-target="#pills-latest" type="button" role="tab" aria-controls="pills-latest" aria-selected="true">Latest</button>
      </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
        <PopularArticles />
      </div>
      <div class="tab-pane fade" id="pills-trending" role="tabpanel" aria-labelledby="pills-trending-tab">
        <TrendingArticles />
      </div>
      <div class="tab-pane fade show active" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab">
        <LatestArticles />
      </div>
    </div>
  </div>
</Fragment> 